header {
    text-align: center;
    background: rgb(59, 204, 230);
    padding: 10px;
    
}

h1 { font-weight: bold;
}

button {
    
    margin: 1px 0;
    padding: 5px;
    flex: auto;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    background-color: rgba(3, 39, 34, 0.527);
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

button:hover {
    background-color:rgb(6, 135, 248);
    cursor: pointer;
  }

body { background-color: rgb(224, 224, 224);

}

.weather-icon {
    height: 60px;
    width: 60px;
}

.forecast-icon{ 

    height: 60px;
    width: 60px;

}

.bglow {background-color: green;}

.bgmoderate {background-color: yellow;}

.bghigh {background-color:orange}

.bgveryhigh{background-color: red}

.bgextreme {background-color: purple}
